.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

.mobMenuLogInBtn {
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fff;
  padding: 12px 67px;
  width: 178px;
  height: 42px;
  background-color: #f6b83d;
  transition: background-color 0.3s ease;
}

.mobMenuLogInBtnOrange {
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.mobMenuLogInBtnOrange:hover,
.mobMenuLogInBtnOrange:active {
  border: none;
}

.mobMenuLogInBtn:hover,
.mobMenuLogInBtn:active {
  background-color: #f9b020;
}

.tabMenuLogInBtn {
  border-radius: 30px;
  padding: 15px 15px;
  width: 119px;
  height: 50px;
  background-color: #f6b83d;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fff;
  transition: background-color 0.3s ease;
}

.tabMenuLogInBtn:hover,
.tabMenuLogInBtn:active {
  background-color: #f9b020;
}

.mobMenuRegistrationBtn {
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #f6b83d;
  padding: 12px 41px;
  width: 178px;
  height: 42px;
  background-color: #fff4df;
  transition: background-color 0.3s ease;
}

.mobMenuRegistrationBtn:hover,
.mobMenuRegistrationBtn:active {
  background-color: #fbe7c1;
}

.tabMenuRegistrationBtn {
  border-radius: 30px;
  padding: 15px 15px;
  width: 149px;
  height: 50px;
  background-color: #fff4df;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #f6b83d;
  transition: background-color 0.3s ease;
}

.tabMenuRegistrationBtn:hover,
.tabMenuRegistrationBtn:active {
  background-color: #fbe7c1;
}

.notFoundButton {
  border-radius: 30px;
  padding: 12px 30px;
  width: 150px;
  height: 42px;
  background-color: #fff4df;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: #f6b83d;
  margin: 0 auto;
  transition: background-color 0.3s ease;
}

.notFoundButton:hover,
.notFoundButton:active {
  background-color: #fbe7c1;
}

.addPetBtn {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: #fff;
  border-radius: 30px;
  padding: 10px 16px;
  width: 103px;
  height: 38px;
  background-color: #f6b83d;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.addPetBtn:hover,
.addPetBtn:active {
  background-color: #f9b020;
}

.formCancelBtn {
  border-radius: 30px;
  padding: 12px 34px;
  width: 100px;
  height: 42px;
  background-color: rgba(38, 38, 38, 0.05);
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: #262626;
  transition: background-color 0.3s ease;
}

.formCancelBtn:hover,
.formCancelBtn:active {
  background-color: rgba(38, 38, 38, 0.1);
}

.login {
  border-radius: 30px;
  padding: 12px 48px;
  width: 135px;
  height: 42px;
  background-color: #f6b83d;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: #fff;
  transition: background-color 0.3s ease;
}

.login:hover,
.login:active {
  background-color: #f9b020;
}

.register {
  border-radius: 30px;
  padding: 12px 24px;
  width: 129px;
  height: 42px;
  background-color: #fff4df;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: #f6b83d;
  transition: background-color 0.3s ease;
}

.register:hover,
.register:active {
  background-color: #fbe7c1;
}

@media (min-width: 768px) {
  .notFoundButton {
    padding: 14px 30px;
    width: 162px;
    height: 48px;
    font-size: 16px;
    line-height: 125%;
  }

  .formCancelBtn {
    width: 170px;
    height: 48px;
    font-size: 16px;
    line-height: 125%;
  }

  .login {
    width: 140px;
    height: 48px;
    font-size: 16px;
    line-height: 125%;
  }

  .register {
    width: 140px;
    height: 48px;
    font-size: 16px;
    line-height: 125%;
  }
}
