.container {
  border-radius: 30px;
  width: 335px;
  height: auto;
  background-color: #fff;
  margin-top: 10px;
  position: relative;
  padding: 18px 20px 40px 20px;
}

@media (min-width: 768px) {
  .container {
    border-radius: 60px;
    width: 704px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 40px;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 520px;
  }
}
