.modalContent {
  border-radius: 30px;
  width: 335px;
  height: 473px;
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
}

.closeButton {
  position: absolute;
  top: 16px;
  right: 16px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;
}

.header {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  color: #2b2b2a;
}

.userContainer {
  display: flex;
  flex-direction: column;
}

.userContainerImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-top: 20px;
}

.userContainerImgSvg {
  border-radius: 100px;
  width: 80px;
  height: 80px;
  background-color: #fff4df;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.userInfoForm {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input {
  border: 1px solid rgba(38, 38, 38, 0.15);
  border-radius: 30px;
  padding: 12px 12px 12px 12px;
  width: 295px;
  height: 42px;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: #262626;
}

input::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: #262626;
}

.inputFile {
  border: 1px solid #f6b83d;
  border-radius: 30px;
  padding: 13px 39px 13px 12px;
  width: 161px;
  height: 42px;
}

.input.filled,
.inputFile.filled {
  border-color: #f6b83d;
}

.input.empty,
.inputFile.empty {
  border-color: rgba(38, 38, 38, 0.15);
}

.submitButton {
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: #fff;
  border-radius: 30px;
  padding: 12px 108px;
  width: 295px;
  height: 42px;
  background-color: #f6b83d;
  margin-top: 21px;
  transition: background-color 0.3s ease;
}

.submitButton:hover,
.submitButton:active {
  background-color: #f9b020;
}

.inputFile {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.inputFileBtn {
  border-radius: 30px;
  padding: 12px;
  width: 126px;
  height: 42px;
  background: #fff4df;
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: -0.02em;
  color: #262626;
}

.formGroup {
  position: relative;
}

.formGroupImg {
  display: flex;
  gap: 8px;
  align-items: center;
  position: relative;
}

.inputFileBtn label {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.userContainerImgPhoto {
  border-radius: 100px;
  width: 80px;
  height: 80px;
  margin: 0 auto;
}

.error {
  font-weight: 500;
  font-size: 10px;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: #ef2447;
  margin-left: 10px;
  position: absolute;
  top: 41px;
  left: 0;
}

@media (min-width: 768px) {
  .modalContent {
    width: 480px;
    height: 580px;
    padding: 50px;
  }

  .closeButton {
    top: 20px;
    right: 20px;
  }

  .header {
    font-size: 18px;
    line-height: 133%;
  }

  .userContainerImg {
    width: 86px;
    height: 86px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .userContainerImgSvg {
    width: 86px;
    height: 86px;
  }

  .userInfoForm {
    gap: 20px;
  }

  .input {
    width: 380px;
    height: 52px;
    font-size: 16px;
    line-height: 125%;
  }

  input::placeholder {
    font-size: 16px;
    line-height: 125%;
  }

  .inputFile {
    width: 226px;
    height: 42px;
  }

  .submitButton {
    font-size: 16px;
    line-height: 125%;
    width: 380px;
    height: 52px;
    margin-top: 40px;
  }

  .inputFileBtn {
    width: 146px;
    height: 42px;
    font-size: 14px;
    line-height: 129%;
  }

  .userContainerImgPhoto {
    width: 86px;
    height: 86px;
  }

  .error {
    font-weight: 500;
    font-size: 10px;
    line-height: 120%;
    letter-spacing: -0.03em;
    color: #ef2447;
    margin-left: 10px;
    position: absolute;
    top: 41px;
    left: 0;
  }
}
