.header {
  padding-top: 20px;
  background-color: #fff;
  width: 335px;
  position: relative;
  margin: 0 auto;
}

.headerPosition {
  position: absolute;
  background-color: transparent;
  top: 18px;
  padding: 0 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burgerButton {
  display: block;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 218px;
  height: 100vh;
  background-color: #f6b83d;
  border: none;
  flex-direction: column;
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  z-index: 1000;
  overflow-y: auto;
  padding-bottom: 40px;
}

.menuWhite {
  background-color: #fff;
  stroke: #000000;
}

.menuOrange {
  background-color: #f6b83d;
  stroke: #ffffff;
}

.menuOpen {
  display: flex;
  align-items: center;
  transform: translateX(0);
  opacity: 1;
}

.closeButton {
  position: absolute;
  top: 16px;
  right: 16px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;
}

.headerAuth {
  background-color: #f9f9f9;
}

.burgerWrap {
  display: flex;
  gap: 12px;
}

@media (min-width: 768px) {
  .authWrap {
    display: flex;
    gap: 16px;
  }
  .header {
    padding-top: 39px;
    width: 704px;
  }

  .headerPosition {
    top: 20px;
    padding: 0 20px;
  }

  .burgerButton svg {
    width: 36px;
    height: 36px;
  }

  .burgerWrap {
    gap: 16px;
  }
}

@media (min-width: 1280px) {
  .header {
    padding-top: 28px;
    width: 1216px;
    
  }

  .headerPosition {
    padding: 0 25px;
  }

  .burgerButton {
    display: none;
  }

  .userAuthContainer {
    display: flex;
    gap: 8px;
  }

  .container {
    justify-content: start;
  }
}
