.userContainerImgPhoto {
    border-radius: 50px;
    width: 40px;
    height: 40px;
  }
  
  .userContainerImgSvg {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #fff4df;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logoutButton {
    display: none;
    margin-right: 10px;
  }
  
  .userName {
    display: none;
  }
  
  @media (min-width: 768px) {
    .userBarContainer {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  
    .userName {
      display: block;
      font-weight: 700;
      font-size: 20px;
      line-height: 100%;
      letter-spacing: -0.03em;
      color: #262626;
    }
  
    .userContainerImgPhoto {
      width: 50px;
      height: 50px;
    }
    
    .userContainerImgSvg {
      width: 50px;
      height: 50px;
      background-color: #fff4df;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .userContainerImgSvg svg {
      width: 24px;
      height: 24px;
    }
    .nameHome  {
      color: #fff;
      }
  }