.menuAuthNav {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  padding-top: 280px;
}

.logOutBtn {
  display: block;
}

.headerAuthNav {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.headerHomeAuthNav {
  display: none;
}

@media (min-width: 1280px) {
  .menuAuthNav {
    margin-left: 102px;
    padding-top: 0;
  }
}
