
.burgerMenu {
  position: relative;
}

.burgerButton {
  position: relative;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  z-index: 1005;
}

.menu {
  display: none;
  position: fixed;
  top: -20px;
  right: -39px;
  overflow: hidden;
  transition: width 0.3s ease, height 0.3s ease;
}

.menuWhite {
  background-color: #fff;
  stroke: #000000;
}

.menuOrange {
  background-color: #F6B83D;
  stroke: #ffffff;
}

.menuOpen {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  width: 218px;
  height: 812px;
  padding-top: 236px;
}

