.logoutButton {
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #f6b83d;
  padding: 12px 41px;
  width: 178px;
  height: 42px;
  background-color: #fff4df;
  transition: background-color 0.3s ease;
  border-radius: 30px;
}

.logoutButton:hover,
.logoutButton:active {
  background-color: #fbe7c1;
}

.petblock {
  margin-top: 20px;
  padding: 12px 28px;
  width: 114px;
  height: 42px;
}

.userBarlogoutButton {
  display: none;
}

@media (min-width: 768px) {
  .userBarlogoutButton {
    display: block;
    border-radius: 30px;
    padding: 15px 35px;
    width: 136px;
    height: 50px;
    background-color: #f6b83d;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #fff;
    transition: background-color 0.3s ease;
  }

  .userBarlogoutButton:hover,
  .userBarlogoutButton:active {
    background-color: #f9b020;
  }
}
