.button {
  border-radius: 30px;
  padding: 10px;
  width: 38px;
  height: 38px;
  background-color: #fff4df;
  transition: background-color 0.3s ease;
  position: absolute;
  top: 18px;
  right: 20px;
}

.button:hover,
.button:active {
  background-color: #fbe7c1;
}

@media (min-width: 768px) {
  .button {
    top: 40px;
    right: 40px;
  }
}
