.modalContainer {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 335px;
  width: 100%;
  z-index: 1010;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  pointer-events: auto;
  max-height: 90vh;
  overflow: auto;
  overflow-x: hidden;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(38, 38, 38, 0.3);
  z-index: 1000;
  pointer-events: auto;
}

body.modal-open {
  overflow: hidden;
}

.modalContainer::-webkit-scrollbar {
  width: 8px;
}
.modalContainer::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
.modalContainer::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
.modalContainer::-webkit-scrollbar-thumb:hover {
  background: #777;
}

@media (min-width: 768px) {
  .modalContainer {
    max-width: 480px;
  }
}
