.mainlayout {
  background-image: url("../../assets/images/background-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .mainlayout {
    background-image: url("../../assets/images/background-imgTab-min.png");
  }
}

@media (min-width: 1280px) {
  .mainlayout {
    background-image: url("../../assets/images/background-imgDt-min.png");
  }
}
