.userBlock {
  /* padding: 18px 20px 40px; */
}

.userLabel {
  border-radius: 30px;
  padding: 10px 14px;
  width: 80px;
  height: 38px;
  background-color: #f6b83d;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.userText {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #fff;
}

.userContainer {
  display: flex;
  flex-direction: column;
}

.userContainerImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.userContainerImgSvg {
  border-radius: 100px;
  padding: 10px;
  width: 94px;
  height: 94px;
  background-color: #fff4df;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.userContainerImgBtn {
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #262626;
  cursor: pointer;
}

.userInfoHeader {
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: #2b2b2a;
}

.userInfoForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input {
  border: 1px solid rgba(38, 38, 38, 0.15);
  border-radius: 30px;
  padding: 12px 12px 12px 12px;
  width: 295px;
  height: 42px;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: #262626;
}

input::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: #262626;
}

.input.filled {
  border-color: #f6b83d;
}

.input.empty {
  border-color: rgba(38, 38, 38, 0.15);
}

.userContainerImgPhoto {
  border-radius: 100px;
  width: 94px;
  height: 94px;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .userBlock {
    padding: 0;
  }

  .userContainerImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .userContainerImgSvg {
    width: 110px;
    height: 110px;
  }

  .userContainerImgBtn {
    font-size: 14px;
    line-height: 129%;
  }

  .userContainerImgPhoto {
    width: 110px;
    height: 110px;
    margin-bottom: 28px;
    margin-top: -30px;
  }

  .userInfoHeader {
    font-size: 18px;
    line-height: 133%;
  }

  .userInfoForm {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 14px;
  }

  .input {
    padding: 16px 12px 16px 12px;
    width: 305px;
    height: 52px;
    font-size: 16px;
    line-height: 125%;
  }

  input::placeholder {
    font-size: 16px;
    line-height: 125%;
  }
}

@media (min-width: 1280px) {
  .input {
    width: 440px;
    height: 52px;
  }
}
