
.inputWrap {
  position: relative;
}

.searchInput {
  border: 1px solid rgba(38, 38, 38, 0.15);
  border-radius: 30px;
  padding: 12px 50px 12px 12px;
  width: 335px;
  height: 42px;
  background-color: transparent;
  outline: none;
  transition: border-color 0.3s ease;
}

.searchInput:focus,
.searchInput:active {
  border: 1px solid #f6b83d;
}

.searchButton {
  position: absolute;
  top: 12px;
  right: 12px;
}

.clearButton {
  position: absolute;
  top: 10px;
  right: 36px;
}

.filtersBlock {
  border: none;
  width: 295px;
  height: 42px;
  background-color: #fff;
}

.filtersBlock::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: #262626;
}

@media (min-width: 768px) {
  .searchForm {
    margin-top: 0;
  }

  .searchInput {
    width: 230px;
    height: 48px;
    padding: 12px 55px 12px 12px;
  }

  .searchButton {
    top: 15px;
    right: 15px;
  }

  .clearButton {
    position: absolute;
    top: 13px;
    right: 40px;
  }

  .filtersBlock {
    width: 265px;
    height: 48px;
  }

  .filtersBlock::placeholder {
    font-size: 16px;
    line-height: 125%;
  }
}
